root = true

[{*.{ts,js,sh,py},**/bin/*}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.rs]
indent_style = tab
indent_size = 4
insert_final_newline = true

[*.scl]
indent_style = space
indent_size = 4
insert_final_newline = false

[Dockerfile]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.{rc,json,toml,workflow,config.js}]
indent_style = tab
indent_size = 2
insert_final_newline = false

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false